/* Paradise Developer Documentation Theme */
.navy {
    --bg: #150208;
    --fg: #bcbdd0;

    --sidebar-bg: #46041a;
    --sidebar-fg: #c8c9db;
    --sidebar-non-existant: #735074;
    --sidebar-active: #ff1865;
    --sidebar-spacer: #4e2d4f;

    --scrollbar: var(--sidebar-fg);

    --icons: #7c577d;
    --icons-hover: #c58bca;

    --links: #8c86ff;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #161923;
    --theme-popup-border: #737480;
    --theme-hover: #492353;

    --quote-bg: hsl(226, 15%, 17%);
    --quote-border: hsl(226, 15%, 22%);

    --warning-border: #ff8e00;

    --table-border-color: hsl(226, 23%, 16%);
    --table-header-bg: hsl(226, 23%, 31%);
    --table-alternate-bg: hsl(226, 23%, 14%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #aeaec6;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #5f5f71;
    --searchresults-border-color: #5c5c68;
    --searchresults-li-bg: #242430;
    --search-mark-bg: #a2cff5;

    --color-scheme: dark;
}
